<template>
    <div class="modal rest" id="modal_restaurant">
        <div class="modal-carousel rest-carousel owl-carousel owl-theme">
            <div class="item">
                <img src="/img/restaurant/1.jpg" alt="">
            </div>
            <div class="item">
                <img src="/img/restaurant/2.jpg" alt="">
            </div>
            <div class="item">
                <img src="/img/restaurant/3.jpg" alt="">
            </div>

            <div class="item">
                <img src="/img/restaurant/4.jpg" alt="">
            </div>

            <div class="item">
                <img src="/img/restaurant/5.jpg" alt="">
            </div>

            <div class="item">
                <img src="/img/restaurant/6.jpg" alt="">
            </div>

            <div class="item">
                <img src="/img/restaurant/7.jpg" alt="">
            </div>

        </div>
    </div>

</template>


<script>
    export default {
        name: 'RestaurantModal'
    }
</script>
