<template>
    <div class="contact-row">
        <h3 class="subtitle">{{singleItem.title}}</h3>
        <p class="address-text" v-for="data in singleItem.data">
            <span v-if="!data.isActive || data.type === 'text'">
                {{data.text}}
            </span>
            <a v-else-if="data.isActive && data.type === 'email'" :href="'mailto:' + data.text">{{data.text}}</a>
            <a v-else-if="data.isActive && data.type === 'phone'" :href="'tel:' + data.val" :class="data.callTrackingClass">{{data.text}}</a>
        </p>
    </div>
</template>

<script>
    export default {
        name: "ContactItem",
        props: [
            'singleItem'
        ],
    }
</script>

<style>

</style>