<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Gagarinn Hotel</title>
    <meta name="description" content="Gagarinn Hotel is the best place for business and leisure that is located not far from the beaches, nightclubs, up-to-date restaurants and other city attractions">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="max-age=31536000, must_revalidate, public">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!--<link rel="preload" href="css/owl.carousel.min.css" as="style" onload = "this.rel = 'stylesheet'">-->
    <!--<noscript><link rel = "stylesheet" href="css/owl.carousel.min.css"></noscript>-->
    <!--<link rel="stylesheet" href="css/jquery-ui.css">-->
    <!--<link rel="preload" href="css/bootstrap-datepicker.min.css" as="style" onload = "this.rel = 'stylesheet'">-->
    <!--<noscript><link rel = "stylesheet" href="css/bootstrap-datepicker.min.css"></noscript>-->
    <!--<link rel="preload" href="css/bootstrap-datepicker3.min.css" as="style" onload = "this.rel = ' stylesheet' ">-->
    <!--<noscript><link rel = "stylesheet" href="css/bootstrap-datepicker3.min.css"></noscript>-->
    <!--<link rel="preload" href="css/bootstrap-datepicker3.standalone.min.css" as="style" onload = "this.rel = ' stylesheet'">-->
    <!--<noscript><link rel = "stylesheet" href="css/bootstrap-datepicker3.standalone.min.css"></noscript>-->

    <!--<link rel="preload" href="css/swiper.min.css" as="style" onload = "this.rel = 'stylesheet'">-->
    <!--<noscript><link rel = "stylesheet" href="css/swiper.min.css"></noscript>-->


    <!--<link rel="stylesheet" href="css/compress_libs.css">-->
    <link media="none" onload='if(media!="all") media="all"' rel="stylesheet" type="text/css" href="css/compress_libs.css">

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTZPNTW"-->
                  <!--height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
<!-- End Google Tag Manager (noscript) -->

<div id="app"></div>
<!-- built files will be auto injected -->
<!--&lt;!&ndash;[if lt IE 9]>-->
<!--<script src="libs/html5shiv/es5-shim.min.js"></script>-->
<!--<script src="libs/html5shiv/html5shiv.min.js"></script>-->
<!--<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>-->
<!--<script src="libs/respond/respond.min.js"></script>-->
<!--<![endif]&ndash;&gt;-->

<script src="libs/jquery/jquery.min.js"></script>
<script src="libs/owl-carousel/owl.carousel.min.js" async></script>
<script src="libs/modalEffects.min.js" async></script>
<!--<script src="libs/bootstrap.min.js" async></script>-->
<!--<script src="libs/loadCSS.min.js"></script>-->
<!--<script src="libs/onloadCSS.min.js"></script>-->
<!--<script src="libs/cssrelpreload.min.js"></script>-->
<script src="libs/bootstrap-datepicker.min.js" async></script>
<!--<script src="libs/classie.min.js"></script>-->

<!--script src="libs/jquery-ui.min.js"></script-->

<script type="text/javascript">
    {
        if (screen.width > 1170)
            document.write ('<script type="text/javascript" src="js/desktop.js" async></sc' + 'ript>');
    }
</script>
<script type="text/javascript">
    {
        if (screen.width < 1170)
            document.write ('<script type="text/javascript" src="js/mobile.js" async></sc' + 'ript>');
    }
</script>
<script src="libs/swiper.min.js" async></script>
<script src="js/common.js" async></script>

<script type="text/javascript" async>

    setTimeout(function () {
        //Calltracking
        (function(d, w, s) {
            var widgetHash = 'fdjo2nd2zzps8t06d42f', ctw = d.createElement(s); ctw.type = 'text/javascript'; ctw.async = true;
            ctw.src = '//widgets.binotel.com/calltracking/widgets/'+ widgetHash +'.js';
            var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(ctw, sn);
        })(document, window, 'script');

        (function(d, w, s) {
            var widgetHash = '4d2xiwi1tuolmfalrbc2', gcw = d.createElement(s); gcw.type = 'text/javascript'; gcw.async = true;
            gcw.src = '//widgets.binotel.com/getcall/widgets/'+ widgetHash +'.js';
            var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(gcw, sn);
        })(document, window, 'script');


        //
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PTZPNTW');


        //TL head script
        (function(w){
            var q=[
                ['setContext', 'TL-INT-gagarinn-new', 'ru']
            ];
            var t=w.travelline=(w.travelline||{}),ti=t.integration=(t.integration||{});ti.__cq=ti.__cq?ti.__cq.concat(q):q;
            if (!ti.__loader){ti.__loader=true;var d=w.document,p=d.location.protocol,s=d.createElement('script');s.type='text/javascript';s.async=true;s.src=(p=='https:'?p:'http:')+'//eu-ibe.tlintegration.com/integration/loader.js';(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(s);}
        })(window);
        console.log('end');
    }, 5000)
    console.log('start');
</script>

</body>
</html>
