<template>
    <section class="video-section">
        <div class="video-container">
            <video muted="muted" id="front_bg_video" preload="metadata" autoplay="" loop="loop">
                <source src="assets/Hotel-Gagarinn-new.mp4" type="video/mp4">
            </video>
            <div class="video-mask"></div>
            <div class="video-content">
                <div class="center-logo">
                    <img src="/img/main-logo.svg" alt="logo">
                </div>

                <div class="description">
                    <p>{{$t('videoSection.description')}}</p>
                    <br>
                    <p class="desktop-hidden">
                        {{$t('videoSection.descriptionMob')}}
                    </p>
                    <br><br>
                </div>

                <form class="main-filter">
                    <div class="filter-group">
                        <div class="field">
                            <p class="datepicker">
                                <label>{{$t('booking.label1')}}</label>
                                <input type="text" class="dateTxt form-control form-arrival" value="">
                                <span class="date-dot"></span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="datepicker">
                                <label>{{$t('booking.label2')}}</label>
                                <input type="text" class="dateTxt form-control form-departure" value="">
                                <span class="date-dot"></span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="select">
                                <label>{{$t('booking.label3')}}</label>
                                <select  class="guests">
                                    <option value="1">1  {{$t('booking.guest')}}</option>
                                    <option value="2">2  {{$t('booking.guests')}}</option>
                                    <option value="3">3  {{$t('booking.guests')}}</option>
                                    <option value="4">4  {{$t('booking.guests')}}</option>
                                    <option value="5">5  {{$t('booking.guests')}}</option>
                                    <option value="6">6  {{$t('booking.guests')}}</option>
                                    <option value="7">7  {{$t('booking.guests')}}</option>
                                    <option value="8">8  {{$t('booking.guests')}}</option>
                                    <option value="9">9  {{$t('booking.guests')}}</option>
                                </select>
                                <span class="date-dot"></span>
                            </p>
                        </div>
                    </div>
                    <input type="hidden" name="lang" class="sf-lang" :value="[lang]">
                    <div class="reserv">
                        <a href="#">{{$t('booking.title')}}</a>
                    </div>
                </form>
                <div class="desktop-hidden">
                    <div class="reserv"><a :href="[lang === 'en' ? '/booking_en.html' : '/booking.html']">{{$t('booking.title')}}</a></div>
                </div>
            </div>

            <div class="arrow-down">
                <a href="#contact"><img src="/img/arrow.svg" alt="arrow-down"></a>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'VideoSection',
        computed: {
            lang: function() {
                return this.$root.locale;
            }
        }
    }
</script>
