<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

// import './assets/libs/jquery/jquery.min.js'

// import lib1 from './assets/libs/owl-carousel/owl.carousel.min.js'
// import lib2 from './assets/libs/modalEffects.min.js'
// import lib3 from './assets/libs/bootstrap.min.js'
// import lib4 from './assets/libs/loadCSS.min.js'
// import lib5 from './assets/libs/onloadCSS.min.js'
// import lib6 from './assets/libs/cssrelpreload.min.js'
// import lib7 from './assets/libs/bootstrap-datepicker.min.js'
// import lib8 from './assets/libs/classie.min.js'
// import lib9 from './assets/libs/swiper.min.js'

export default {
  name: 'app',
  components: {
  },
    mounted: function () {
      let service = this.$route.params.section;

      if (service !== undefined) {
          jQuery(document).ready(function ($) {
              setTimeout(function () {
                  $('a[href="/' + service + '"]').trigger('click');
              },800)
          })
      }
    }
}
</script>
